<ion-header>
  <ion-navbar color="secondary">
      <ion-buttons end>
          <img src="assets/img/logo_branco.png">
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input readonly="true" type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Área</ion-label>
      <ion-input readonly="true" type="text" formControlName="zoneuser"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Curso</ion-label>
      <ion-input readonly="true" type="text" formControlName="courseuser"></ion-input>
    </ion-item>
    <!-- <ion-item>
        <ion-label>Turma</ion-label>
        <ion-input readonly="true" type="text" formControlName="classeuser"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
        <ion-label>Áreas</ion-label>
        <ion-select formControlName="zonekey" (ionChange)="getZones()">
          <ion-option value="" [selected]="true">Selecione</ion-option>
          <ion-option *ngFor="let zonekey of zones | async" [value]="zonekey.key">{{ zonekey.name }}</ion-option>
        </ion-select>
    </ion-item> -->
    <!-- <ion-item>
        <ion-label>Cursos</ion-label>
        <ion-select formControlName="coursekey" (ionChange)="getCourses()">
          <ion-option value="" [selected]="true">Selecione</ion-option>
          <ion-option *ngFor="let coursekey of courses | async" [value]="coursekey.key">{{ coursekey.name }}</ion-option>
        </ion-select>
    </ion-item> -->
    <ion-item>
          <ion-label>Turma</ion-label>
          <ion-select formControlName="classekey" (ionChange)="getClasses()">
            <ion-option value="" [selected]="true">Selecione</ion-option>
            <ion-option *ngFor="let classekey of classes | async" [value]="classekey.key">{{ classekey.name }}</ion-option>
          </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input readonly="true" type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Válidado</ion-label>
      <ion-toggle formControlName="verified"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!form.controls.verified.valid && (form.controls.verified.dirty || form.controls.verified.touched)" color="danger">
      <div [hidden]="!form.controls.verified.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Validar</button>
    </div>
  </form>
</ion-content>
