<ion-header>
  <ion-navbar color="secondary">
      <ion-buttons end>
          <img src="assets/img/logo_branco.png">
      </ion-buttons>
    <ion-title>Meu perfil...</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
        <ion-card>
            <ion-card-content>
              <h2>
                Formação
              </h2>
              <ion-item text-wrap text-justify>
                  {{userprofile.formacao}}
              </ion-item>
              <h2>
                Experiência
              </h2>
              <ion-item text-wrap text-justify>
                    {{userprofile.experiencia}}
              </ion-item>
              <h2>
                Interesses
              </h2>
              <ion-item text-wrap text-justify>
                  {{userprofile.interesses}}
              </ion-item>
              </ion-card-content>
          </ion-card>

        <ion-item *ngIf="userprofile.formacao">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <button ion-button block color="secondary" (click)="editItemProfile(userprofile)"><ion-icon name="create"></ion-icon>Editar</button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button block color="danger" (click)="removeItemProfile()"><ion-icon name="trash"></ion-icon>Excluir</button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>

    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="newItemProfile()" *ngIf="!userprofile.formacao"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
